version: 2
updates:
  # Enable version updates for Go modules
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '09:00'
    open-pull-requests-limit: 5
    reviewers:
      - 'mona-actions'
    assignees:
      - 'mona-actions'
    commit-message:
      prefix: 'deps'
      include: 'scope'

  # Enable version updates for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
      day: 'monday'
      time: '09:00'
    open-pull-requests-limit: 3
    reviewers:
      - 'mona-actions'
    assignees:
      - 'mona-actions'
    commit-message:
      prefix: 'ci'
      include: 'scope'
